<!-- <nb-card>
  <nb-card-body>
    <ul>
      <li *ngFor="let item of items">
        <span
          ><strong>{{ item.name }}</strong> | x{{ item.quantity }} |
          {{ item.costTotal }}</span
        >
      </li>
    </ul>
  </nb-card-body>
</nb-card> -->
<mat-card>
  <mat-list>
    <mat-list-item *ngFor="let item of items; let i = index">
      <span
        ><strong>{{ item.name }}</strong> | x{{ item.quantity }} |
        {{ item.costTotal }}</span
      >
      <mat-divider *ngIf="!(items.length - 1 === i)"></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-card>
