@import "themes";

@import "~@nebular/theme/styles/globals";
@import "~@nebular/bootstrap/styles/globals";
@include nb-install() {
  @include nb-theme-global();
  @include nb-bootstrap-global();
}

// Global Styles by me

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.line-through {
  text-decoration: line-through;
}
