<!-- <input
  type="text"
  nbInput
  placeholder="Item that you are planning to buy"
/><br />

<button (click)="toggleMethod()">Close</button> -->

<!-- <nb-card>
  <nb-card-body>
    <form>
      <input type="text" nbInput placeholder="Item you are going to buy" />
      <input type="number" nbInput placeholder="Quantity" />
      <input type="text" nbInput placeholder="Price Each" />
      <button nbButton type="button" (click)="addItem()">Add</button>
    </form>
  </nb-card-body>
</nb-card> -->
