<!-- <input
  type="text"
  nbInput
  placeholder="Item that you are planning to buy"
/><br />

<button (click)="toggleMethod()">Close</button> -->

<!-- <nb-card>
  <nb-card-body>
    <form>
      <input type="text" nbInput placeholder="Item you are going to buy" />
      <input type="number" nbInput placeholder="Quantity" />
      <input type="text" nbInput placeholder="Price Each" />
      <button nbButton type="button" (click)="addItem()">Add</button>
    </form>
  </nb-card-body>
</nb-card> -->

<mat-card>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>What are you planning to buy?</mat-label>
    <input matInput placeholder="eg. Chocolate Milk" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>How much?</mat-label>
    <input type="number" matInput />
    <span matPrefix>x</span>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>
      The cost each.
    </mat-label>
    <input type="number" matInput />
    <span matPrefix>$</span>
  </mat-form-field>
</mat-card>
